/* styling for soft pink and blue background that sits under the headphones picture */
body {
    background: url("../images/pink\ watercolors.jpg");
    background-size: cover;
    background-repeat: repeat;
    height: 100%;
    width: 100%;
    Margin: 20px;
    box-sizing: border-box;
}

/* stylings for the headphone pic as the background for the bootstrap container */
.container {
    background: url("../images/headphones.jpg");
    background-size: 100%;
    background-repeat: repeat;
    width: 1024px;
    height: 100%;
    margin-left: auto;
    Margin-right: auto;
    font-family: 'Poller One', cursive;
}

/* styling for the game logo */
.header {
    width: 100%;
    margin-top: 80px;
}

/* styling for the game instruction popover buttong */
.btn-secondary {
    background: #a9f3e8d7;
    color: #b31f75;
    font-weight: bolder;
    margin-top: 20px;
    font-size:15px;
}

/* styling for the reset button on the top right */
.reset {
    background: #f7c1c2;
    color: #0298ac;
    font-weight: bolder;
    margin-top: 20px;
    font-size:15px;
}

/* styling for the two score divs */
#targetScore, #yourScore {
    margin-top: 5px;
}

/* styling for the "the Divas"*/
h1 {
    font-weight: bolder;
    font-size: 40px;
    color: #04afc5;
}

/* Styling for targetscore and yourscore */
h2 {
    color: rgb(135, 85, 148);
    font-size: 30px;
    margin-bottom:0px;
}

/* styling for targetscore and your score */
h3 {
    color: rgb(73, 5, 90);
    font-size: 30px;
    margin-bottom:0px;
}

/* stylings for the hits and flops at the bottom of the screen */
#hits, #flops {
    color: rgb(73, 5, 90);
    font-size: 20px;
}

/* styling for font inside alert when you win and lose */
.alert-danger {
    padding:15px;
    font-size: 30px;
    font-weight: bolder;
}

/* styling for the pictures */
.divaPicture {
    width: 225px;
    padding: 10px 30px 10px;
}

/* styling for the text THE DIVAS */
#theDivas {
    margin-top: 80px;
}

/* stying to hover for the pictures */
.divaPicture:hover {
    transition: 0.5s;
    opacity: 0.7;
}

/* styling for the gif that is generated into the logo spot after win and lose */
.gif {
    width: 650px;
    margin-top:30px;
    border-radius: 10px;
    width:100%;
}
